.container {
    min-height: 100vh;
    min-width: 100vw;
}

.content {
    margin-top: 40px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 80px;
}

.image {
    margin-left: auto;
    margin-right: auto;
    max-height: 420px;
}

.dateLabel {
    margin-bottom: 2px;
    margin-top: 40px;
}

.caption, .captionHidden {
    cursor: default;
    width: 100%;
    background-color: #eee;
    border-radius: 4px;
    padding: .5rem 1rem;
    margin-top: 12px;
    margin-bottom: 18px;
}

.caption {
    color: var(--text);
}

.captionHidden {
    color: var(--grey);
}

.watermark {
    color: var(--grey)
}

@media (max-width: 768px) {
    .content {
        width: 90%;
    }
}