.container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

.content {
    margin-top: 40px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .content {
        width: 90%;
    }
}