:root {
  --yellow: #f9f9f9;
  --grey: #c9b458;
  --green: #6aaa64;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

th {
  text-align: left;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}