:root {
  --yellow: #c9b458;
  --grey: #787c7e;
  --green: #6aaa64;
  --text: #111;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
  color: var(--text);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

th {
  text-align: left;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: #6aaa64!important;
}

a:hover {
  text-decoration: underline;
}