.header, .headerContainer {
   height: 50px;
   border-bottom: 1px solid #d3d6da;
   min-width: 100vw;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

.logo {
    cursor: pointer;
}

.logo {
   flex-grow: 1;
   font-size: 24px;
   font-weight: 900;
}

.logo > span {
    font-weight: 100!important;
}

.navbarButton, .dummyButton, .faqButton {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 18px;
    padding: .5rem .8rem;
}

.faqButton, .dummyButton {
    margin-left: 0!important;
    margin-right: 0!important;
}

.dummyButton {
    color: white;
}

.navbarButton:hover, .faqButton:hover {
    color: #ccc;
    cursor: pointer;
}

@media (max-width: 700px) {
    .navbarButton {
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbarButton, .faqButton, .dummyButton {
        font-size: 12px;
        padding: .5rem .6rem;
    }
}